In [ ]:
import pandas as pd

In [ ]:
ti= [750, 935, 960, 965, 1065, 1125, 1135, 1245, 1385, 1395]   # flight start time in minutes
Ti= [130, 125, 125, 150, 132, 160, 175, 130, 160, 170]         # time taken by airplane 2-way in minutes
Ni= [160, 180, 175, 170, 165, 160, 173, 174, 175, 180]         # no. of passengers
oi= [250, 250, 250, 400, 250, 250, 400, 250, 250, 400]         # compensation amount

captain= [1,1,1,1,1,2,2,2,2,2,3,3,3,3,3,4,4,4,4,4,4,4,5,5,5,5,5,5,6,6,6,6,6,7,7,7,7,7,7,7,8,9]
first_officer= [1,4,5,6,8,2,6,7,8,9,3,4,6,8,10,1,2,4,5,7,9,10,3,4,5,7,8,9,1,2,3,6,9,1,2,3,5,7,9,10,8,9]
crew_time_unchanged = [150, 170, 150, 220, 200, 220, 220, 200, 220, 220, 170, 170, 220, 200, 170, 150, 140, 170, 140, 140, 140, 140, 200, 200, 200, 200, 200, 200, 150, 80, 50, 220,50, 150, 80, 80, 140, 80, 80, 80, 200,0]
crew_time = [150, 170, 150, 220, 200, 220, 220, 200, 220, 220, 170, 170, 220, 200, 170, 150, 140, 170, 140, 140, 140, 140, 200, 200, 200, 200, 200, 200, 150, 80, 50, 220,50, 150, 80, 80, 140, 80, 80, 80, 200,0]

In [ ]:
def CREWSCHEDULE(Ti,crew_time,captain,first_officer):
  p = []
  tme = []
  cap = 0
  off = 0
  for i in range(0,len(Ti)):
      mini = min([k for k in crew_time if k >Ti[i]])
      for j in range(0,len(crew_time)):
          if crew_time[j]== mini and captain[j]!=cap and first_officer[j]!=off:
              p.append(j)
              tme.append(crew_time[j])
              crew_time[j] = -1
              cap = captain[j]
              off = first_officer[j]
              break
  for i in range(0, len(p)-2):
    if captain[p[i]] == captain[p[i+2]]:
        if Ti[i] <= (ti[i+2]-ti[i]):
            captain[p[i+2]] = 1000000*(captain[p[i]])
    elif first_officer[p[i]] == first_officer[p[i+2]]:
        if Ti[i] <= (ti[i+2]-ti[i]):
            first_officer[p[i+2]] = 1000000*(first_officer[p[i]])
  for i in range(len(p)):
      print("Crew assigned to Flight",i+1,":", "first officer: ",first_officer[p[i]],"/" ,"captain: ",captain[p[i]])
  print(" ")
  print('combination no.: ', p)             # numbering starts from 0
  print('combination fly time: ', tme)
  return p
my_p = CREWSCHEDULE(Ti,crew_time,captain,first_officer)

Crew assigned to Flight 1 : first officer:  2 / captain:  4
Crew assigned to Flight 2 : first officer:  5 / captain:  7
Crew assigned to Flight 3 : first officer:  7 / captain:  4000000
Crew assigned to Flight 4 : first officer:  4 / captain:  1
Crew assigned to Flight 5 : first officer:  5 / captain:  4
Crew assigned to Flight 6 : first officer:  3 / captain:  3
Crew assigned to Flight 7 : first officer:  8 / captain:  1
Crew assigned to Flight 8 : first officer:  9 / captain:  4
Crew assigned to Flight 9 : first officer:  4 / captain:  3
Crew assigned to Flight 10 : first officer:  7 / captain:  2

combination no.:  [16, 36, 19, 1, 18, 10, 4, 20, 11, 7]
combination fly time:  [140, 140, 140, 170, 140, 170, 200, 140, 170, 200]

In [ ]:
def RESCHEDULE(my_p,crew_time,captain,first_officer):
  nos = []
  pos = [0,1]
  for i in range(2,len(my_p)):
    if captain[my_p[i]]%1000000 == 0 or first_officer[my_p[i]]%1000000 == 0:
      nos.append(i)
    else:
      pos.append(i)
  return [nos, pos]
RESCHEDULE(my_p,crew_time,captain,first_officer)

[[4], [0, 1, 2, 3, 5, 6, 7, 8, 9]]

In [ ]:
df = pd.DataFrame({'Start_time (ti)': ti, 'Flight_duration (Ti)': Ti, 'No._of_passengers (Ni)': Ni, 'Compensation_amount (Oi)': oi})
pf = pd.DataFrame({'Captain': captain, 'First_officer': first_officer, 'Pair_Time': crew_time})

In [ ]:
pf

    Captain  First_officer  Pair_Time
0         1              1        150
1         1              4        170
2         1              5        150
3         1              6        220
4         1              8        200
5         2              2        220
6         2              6        220
7         2              7        200
8         2              8        220
9         2              9        220
10        3              3        170
11        3              4        170
12        3              6        220
13        3              8        200
14        3             10        170
15        4              1        150
16        4              2        140
17        4              4        170
18        4              5        140
19        4              7        140
20        4              9        140
21        4             10        140
22        5              3        200
23        5              4        200
24        5              5        200
25        5              7        200
26        5              8        200
27        5              9        200
28        6              1        150
29        6              2         80
30        6              3         50
31        6              6        220
32        6              9         50
33        7              1        150
34        7              2         80
35        7              3         80
36        7              5        140
37        7              7         80
38        7              9         80
39        7             10         80
40        8              8        200
41        9              9          0

In [ ]:
p = []
tme = []
pair_time = 0
cap = 0
off = 0
for i in range(0,len(Ti)):
    mini = min([k for k in crew_time if k >Ti[i]])
    for j in range(0,len(crew_time)):
        if crew_time[j]== mini and captain[j]!=cap and first_officer[j]!=off:
            p.append(j)
            tme.append(crew_time[j])
            crew_time[j] = -1
            cap = captain[j]
            off = first_officer[j]
            break

for i in range(10):
    print("Crew assigned to Flight",i+1,":", "first officer: ",first_officer[p[i]],"/" ,"captain: ",captain[p[i]])
for i in tme:
  pair_time += i
    
print('combination no.: ', p)
print('combination fly time: ', tme)
print('minimium crew pairing time: ', pair_time)

Crew assigned to Flight 1 : first officer:  2 / captain:  4
Crew assigned to Flight 2 : first officer:  5 / captain:  7
Crew assigned to Flight 3 : first officer:  7 / captain:  4
Crew assigned to Flight 4 : first officer:  4 / captain:  1
Crew assigned to Flight 5 : first officer:  5 / captain:  4
Crew assigned to Flight 6 : first officer:  3 / captain:  3
Crew assigned to Flight 7 : first officer:  8 / captain:  1
Crew assigned to Flight 8 : first officer:  9 / captain:  4
Crew assigned to Flight 9 : first officer:  4 / captain:  3
Crew assigned to Flight 10 : first officer:  7 / captain:  2
combination no.:  [16, 36, 19, 1, 18, 10, 4, 20, 11, 7]
combination fly time:  [140, 140, 140, 170, 140, 170, 200, 140, 170, 200]
minimium crew pairing time:  1610

In [ ]:
# Assumption made that the flight time of combination is not too long
# a value 1000000 represents that first_officer or captain wont return in the time for next flight assigned to him
# so a different (frist_officer - Captain) pair needs to be assigned
for i in range(0, len(p)-2):
    if captain[p[i]] == captain[p[i+2]]:
        if tme[i] >= (ti[i+2]-ti[i]):
            captain[p[i+2]] = 1000000*(captain[p[i]])
    elif first_officer[p[i]] == first_officer[p[i+2]]:
        if tme[i] >= (ti[i+2]-ti[i]):
            first_officer[p[i+2]] = 1000000*(first_officer[p[i]])

for i in range(10):
  if captain[p[i]]%1000000 == 0:
    print("Crew assigned to Flight",i+1,":", "first officer: ",first_officer[p[i]],"/" ,"captain: ",int(captain[p[i]]/1000000), "[Still on flight", i-1, ', infeasible assignment]')
  else:
    print("Crew assigned to Flight",i+1,":", "first officer: ",first_officer[p[i]],"/" ,"captain: ",captain[p[i]])

Crew assigned to Flight 1 : first officer:  2 / captain:  4
Crew assigned to Flight 2 : first officer:  5 / captain:  7
Crew assigned to Flight 3 : first officer:  7 / captain:  4
Crew assigned to Flight 4 : first officer:  4 / captain:  1
Crew assigned to Flight 5 : first officer:  5 / captain:  4 [Still of flight 3 , infeasible assignment]
Crew assigned to Flight 6 : first officer:  3 / captain:  3
Crew assigned to Flight 7 : first officer:  8 / captain:  1
Crew assigned to Flight 8 : first officer:  9 / captain:  4
Crew assigned to Flight 9 : first officer:  4 / captain:  3
Crew assigned to Flight 10 : first officer:  7 / captain:  2

In [ ]:
p = []
tme = []
pair_time = 0
cap = 0
off = 0
for i in range(0,len(Ti)):
    mini = min([k for k in crew_time if k >Ti[i]])
    for j in range(0,len(crew_time)):
        if crew_time[j]== mini and captain[j]!=cap and first_officer[j]!=off and captain[j]!=0 and first_officer[j]!=0 :
            p.append(j)
            tme.append(crew_time[j])
            crew_time[j] = -1
            cap = captain[j]
            off = first_officer[j]
            for i in range(0, len(captain)):
              if captain[i] == captain[j]: 
                captain[i] = -1
              if first_officer[i] == first_officer[j]:
                first_officer[i] = -1
            break

for i in range(10):
    print("Crew assigned to Flight",i+1,":", "first officer: ",first_officer[p[i]],"/" ,"captain: ",captain[p[i]])
for i in tme:
  pair_time += i
    
print('combination no.: ', p)
print('combination fly time: ', tme)
print('minimium crew pairing time: ', pair_time)

Crew assigned to Flight 1 : first officer:  -1 / captain:  -1
Crew assigned to Flight 2 : first officer:  -1 / captain:  -1
Crew assigned to Flight 3 : first officer:  -1 / captain:  -1
Crew assigned to Flight 4 : first officer:  -1 / captain:  -1
Crew assigned to Flight 5 : first officer:  -1 / captain:  -1
Crew assigned to Flight 6 : first officer:  -1 / captain:  -1
Crew assigned to Flight 7 : first officer:  -1 / captain:  -1
Crew assigned to Flight 8 : first officer:  -1 / captain:  -1
Crew assigned to Flight 9 : first officer:  -1 / captain:  -1
Crew assigned to Flight 10 : first officer:  -1 / captain:  -1
combination no.:  [16, 36, 18, 1, 19, 10, 4, 20, 11, 7]
combination fly time:  [140, 140, 140, 170, 140, 170, 200, 140, 170, 200]
minimium crew pairing time:  1610